<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>RegistroOferente</servlet-name>
        <servlet-class>servicios.RegistroOferente</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServicioLogin</servlet-name>
        <servlet-class>servicios.ServicioLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Registro1</servlet-name>
        <servlet-class>servicios.Registro1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Autorizar</servlet-name>
        <servlet-class>servicios.Autorizar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AutorizarEmpresa</servlet-name>
        <servlet-class>servicios.ServicioAutorizar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AutorizarOferente</servlet-name>
        <servlet-class>servicios.AutorizarOf</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AutorizarOf</servlet-name>
        <servlet-class>servicios.AutorizarOf</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RegistroOferente</servlet-name>
        <url-pattern>/RegistroOferente</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServicioLogin</servlet-name>
        <url-pattern>/ServicioLogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Registro1</servlet-name>
        <url-pattern>/Registro1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Autorizar</servlet-name>
        <url-pattern>/Autorizar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AutorizarEmpresa</servlet-name>
        <url-pattern>/AutorizarEmpresa</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AutorizarOferente</servlet-name>
        <url-pattern>/AutorizarOferente</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AutorizarOf</servlet-name>
        <url-pattern>/AutorizarOf</url-pattern>
        <servlet-name>ServicioCategorias</servlet-name>
        <url-pattern>/ServicioCategorias</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServicioSubCategorias</servlet-name>
        <url-pattern>/ServicioSubCategorias</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
